body {
  background-color:#EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: #D1D1D1;
  width: 5%;
  border-width: 10px;
}

h1 {
  color: #256D85;
}

h3 {
  color: #256D85;
}
